@import '../../../styles/variables.scss';

.addTheWord {
    display: grid;
    background-color: $input-color;
    opacity: 0;
    animation: ani 1s forwards;

    &__change {
      display: grid;
    }
  }
  
  @keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  input {
    font-family: $default-font;
    border-width: 0px;
    height: 3vh;
    width: 90%;
    padding-left: 3%;
    transition: box-shadow .5s;
  }

  input:focus {
    outline: none;
  }