@import '../../../styles/variables.scss';

.containerWordList {
    display: flex;
    justify-content: center;
}

.wordsList {
    display: flex;
    flex-direction: column;

    &__header {
        display: grid;
        box-sizing: border-box;
        grid-template-columns: repeat(4, 1fr);
        width: 70vw;
        border-right: 1px solid $border-tb-color;
    }

    &__item {
        padding: 0.7vw;
        border-bottom: 1px solid $border-tb-color;
        border-left: 1px solid $border-tb-color;
        font-family: $default-font;
        font-size: 0.9rem;

        &_btn, &_icon {
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 0.6vw;
        }

        &_img {
            width: 1.5vw;
            cursor: pointer;
            margin-left: 1vw;
        }

        &_img:active {
            position: relative;
        top: 1px;
        transition: margin-top 0.2s;
        }
    }

    &__btn {
        background-color: $button-color;
        color: rgb(255, 255, 255);
        border: none;
        border-radius: 5px;
        width: 10vw;
        height: 5vh;
        cursor: pointer;

        opacity: 0.85;

    }

    &__btn:hover {
        opacity: 1;
        transition: opacity 0.2s;
    }

    &__btn:active {
        position: relative;
        top: 1px;
        transition: margin-top 0.2s;
    }

}