@import '../../../styles/variables.scss';

.containerWordList {
    display: flex;
    justify-content: center;

    &__hidden {
        max-height: 0;
        margin-top: -2px;
        opacity: 0;
        transition: 0.4s;
    }
}

.wordsList {
    display: flex;
    flex-direction: column;

    &__header {
        display: grid;
        box-sizing: border-box;
        grid-template-columns: repeat(4, 1fr);
        width: 70vw;
        border-right: 1px solid $border-tb-color;
    }

    &__item {
        padding: 0.7vw;
        border-bottom: 1px solid $border-tb-color;
        border-left: 1px solid $border-tb-color;

        font-family: $default-font;
        font-size: calc(( 100vw + 1536px ) / 192);

        &_btn, &_icon {
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 0.6vw;
        }

        &_img {
            width: calc(( 100vw + 2688px ) / 192);
            cursor: pointer;
            margin-left: 1vw;
        }

        &_img:active {
            position: relative;
        top: 1px;
        transition: margin-top 0.2s;
        }
    }

    &__btn {
        background-color: $button-color;
        color: rgb(255, 255, 255);
        border: none;
        border-radius: 5px;
        width: calc(( 100vw + 1152px ) /19.2);
        height: calc(( 100vw + 1181.54px ) / 88.65);
        cursor: pointer;

        font-family: $default-font;
        font-size: calc(( 100vw + 1075.2px ) / 230.4);
        letter-spacing: 0.5px;
        text-transform: uppercase;

        opacity: 0.85;

    }

    &__btn:hover {
        opacity: 1;
        transition: opacity 0.2s;
    }

    &__btn:active {
        position: relative;
        top: 1px;
        transition: margin-top 0.2s;
    }

    &__warning {
        margin-top: -7px;
        max-height: 0px;

        opacity: 0;
        transition: margin-top 0.3s;
        
        &_showed {
            margin-top: 0;
            padding: 7px 2px 0.2px 7px;
            width: 100%;
            max-height: max-content;

            line-height: 150%;

            background-color: rgba(243, 197, 154, 0.164);
            box-shadow: 1px 6px 8px 1px rgba(34, 60, 80, 0.38);
            opacity: 1;
            transition: margin-top 0.3s;
        }
    }
}

.incorrect{
    box-shadow: 0px 0px 3px 2px rgba(251, 52, 22, 0.86);
    transition: box-shadow 0.5s;
}

.mistake {
    margin-bottom: 7px;
}