@import '../../styles/variables.scss';

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: 12vh;
    padding: 0 15vw;
    background-color: $basic-color;

    &__logo-container {
        display: flex;
        align-items: center;
    }

    &__logo {
        width: 7vw;
        margin-right: 1vw;
    }

    &__logo-text {
        text-decoration: none;
        font-family: $logo-font;
        font-weight: 300;

        &_eng {
            font-weight: 600;
        }
    }

    &__text {
        display: flex;
        width: 20vw;
        justify-content: space-between;
        font-family: $default-font;
        font-size: calc(( 100vw + 2112px ) / 288);
        font-weight: 600;
        letter-spacing: 1.5px;
    }

    &__link {
        text-decoration: none;
        color: $title-color;
    }

    &__link:hover {
        color: $title-color-hover;
    }
}

