@import '../../../styles/variables.scss'; 

.practiceMode {
    background-color: rgba(255, 222, 222, 0.311);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 8vw 0;
    height: 88vh;
}

.wordCard {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 12vh 5% 22vh 5%;
    
        width: 50vw;
        height: 60vh;
    
        &__img{
            position: absolute;
            z-index: 0;
            height: 100%;
            padding: 5%;
            width: 100%;
            bottom: 8vh;
        }

        &__wordEng {
            font-family: $logo-font;
            font-weight: 900;
            font-size: calc(( 100vw + 2112px ) / 115.2);
            color: rgb(87, 87, 87);
            text-align: center;
            z-index: 1;
        }

        &__wordTrascrip {
            font-family: $default-font;
            font-size: calc(( 100vw + 1920px ) / 192);
            font-weight: 500;
            color: rgb(105, 105, 105);
            z-index: 1;
        }

        &__wordRus, &__learnedWords {
            font-family: $default-font;
            font-size: calc(( 100vw + 2688px ) / 288);
            font-weight: 500;
            color: rgb(105, 105, 105);
            z-index: 1;
        }

        &__learnedWords {
            margin-bottom: 4vh;
        }

        &__check {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            width: calc(( 100vw + 4224px ) / 38.4);
            height: 5vh;

            background-color: rgb(169, 212, 198);
            color: rgb(0, 0, 0);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            z-index: 1;

            font-family: $default-font;
            font-weight: 500;
            font-size: calc(( 100vw + 1536px ) / 288);
            text-transform: uppercase;
            letter-spacing: 1.5px;

            transition-duration: 0.4s;
        }

        &__check:hover {
            transform: scale(1.1);
            background-color: rgb(18, 164, 85)
        }
        &__check:focus {
            outline: none;
            transform: scale(1.1);
            background-color: rgb(18, 164, 85)
        }

        &__answer-btn {
        height: 5vw;
        width: 15vw;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        }
    }

    .btn-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
    }

    .knowBtn,
    .dontKnowBtn {
        width: calc(( 100vw + 803px ) / 10.4);
        height: calc(( 100vw + 1152px ) / 38.4);

        font-family: $default-font;
        font-weight: 600;
        font-size: calc(( 100vw + 2112px ) / 288);
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

    .knowBtn{
        background-color: rgb(169, 212, 198);
    }
    
    .knowBtn:hover{
        background-color: rgb(18, 164, 85);
    }
    
    .dontKnowBtn {
        background-color: rgb(229, 159, 159);
    }
    
    .dontKnowBtn:hover {
        background-color: rgb(243, 55, 61);
    }

    .check-transition-enter {
        opacity: 0;
    }
    .check-transition-enter-active {
        opacity: 1;
        transition: opacity 700ms;
    }
    .check-transition-exit {
        opacity: 1;
    }
    .check-transition-exit-active {
        opacity: 0;
        transition: opacity 700ms;
    }