.Slider {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 50%;
    margin-top: 12vh;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: auto;
        width: 80%;
    }

    &__page {
        width: 38vw;
        height: 50vh;
    }

    &__frame {
        position: relative;
        display: flex;
    }

    &__button {
        width: 8%;
    
        opacity: 0.7;
        transition-duration: 0.3s;
        cursor: pointer;
    }

    &__button:hover {
        opacity: 1;
        transition: opacity 0.3s;
    }

    &__button:active {
        transform: scale(1.007);
        transition: transform 0.3s;
    }
}