@font-face {
	font-family: 'Montserrat';
	src: '../fonts/Montserrat-Regular.ttf';
    font-weight: 300;
}

@font-face {
	font-family: 'Montserrat';
	src: '../fonts/Montserrat-Regular.ttf';
    font-weight: 600;
}

@font-face {
	font-family: 'ArchivoBlack';
	src: '../fonts/ArchivoBlack-Regular.ttf';
}

$default-font: "Montserrat", sans-serif;
$logo-font: "ArchivoBlack", sans-serif;


$basic-color: rgba(219, 122, 122, 0.679);
$button-color: rgb(56,152,243);
$title-color: rgb(154, 0, 0);
$title-color-hover: rgb(23,61,143);
$input-color: rgba(174, 206, 228, 0.244);
$border-tb-color: rgba(97, 97, 97, 0.431);



